@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Vesper+Libre:wght@400;500;700;900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 0;
    outline: 0;

}

body {
    background-color: #f2ebe3;
}

.btn {
    background-color: green;
    border-radius: 9px;
    font-family: "Bebas Neue", sans-serif;
    line-height: 20px;
    display: block;
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;

    &:hover {
        background-color: greenyellow;
        transition-duration: 300ms;
    }
}

#perfume {
    font-family: 'Vesper Libre', sans-serif;
    background-color: white;

    display: flex;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 250px;
    margin-bottom: 220px;

    .texto {
        margin-top: 25px;
        margin-left: 20px;


    }

    h2 {
        font-weight: bold;
        font-size: 20px;

    }

    img {
        width: 300px;
        height: 490px;
    }

    box-icon {
        fill: white;
    }

    h3 {
        display: flex;
        text-align: center;
        gap: 200px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: green;
        margin-left: 20px;
    }

    a {
        margin-top: 20px;

    }

    p {}

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 50px;
    }
}